{% extends "base.html" %}
{% block content %}
<div class="text-center">
  {% if real_ip %}
  <div class="my-5 p-2 text-center">
    <h3>Your IP Address</h3>
    <p class="noto-sans-900 ip-address">{{ real_ip }}</p>
    <h4>Browser Information</h4>
    <p>{{ user_agent }}</p>
  </div>
  {% endif %}
  <div class="my-3 p-2">
    <button id="btn_start_dn" class="btn btn-danger p-3 m-2">Start Speed Test</button>
    <button id="btn_start_re" class="btn btn-danger p-3 m-2" disabled>Refresh Page</button>
  </div>
  <div id="message" class="text-center fs-3 fw-bold my-2"></div>
  <div id="result" class="d-none d-flex m-1 flex-column justify-content-center">
    <div class="border p-2 mb-3 rounded-4 text-center shadow">
      <h1>Download</h1>
      <div id="download" class="p-1">
        <h3 id="dn-time"></h3>
        <span id="dn-speed" class="speed-data"></span><br>
      </div>
    </div>
      <div class="border p-2 mb-3 rounded-4 text-center shadow">
        <h1>Upload</h1>
          <div id="upload" class="p-1">
              <h3 id="up-time"></h3>
              <span id="up-speed" class="speed-data"></span><br>
          </div>
      </div>
  </div>
</div>
<div class="d-none">
  <p id="hidden_data" type="hidden" name="upload_data"></p>
</div> 
{% include "flash.html" %}
<script src="{{ url_for('static', filename='speedtest.js')}}"></script>
{% endblock %}